@using TREKER.Core.Entities
@model IQueryable<Day>

<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group m-0 pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Urora</a></li>
                            <li class="breadcrumb-item"><a asp-action="Tables" asp-controller="Dashboard">DB Tables</a></li>
                            <li class="breadcrumb-item active">Days</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Our Days</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-end mb-3">
                    <a asp-action="Create" asp-controller="Day" class="btn btn-raised btn-primary">Create</a>
                </div>
                <div class="card m-b-30">
                    <div class="card-body">
                        <a asp-action="Table" asp-controller="Day">
                            <h4 class="mt-0 header-title text-center">Days</h4>
                        </a>
                        <div class="table-responsive">
                            <table class="table table-striped mb-0 text-center">
                                <thead class="thead-default">
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Created Date</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr style="background-color: @(item.IsDeleted ? "orangered" : "")">
                                            <td class="text-center">@count</td>
                                            <td class="text-center">@item.Description</td>
                                            <td class="text-center">@item.CreatedDate.ToString("dd MMM yyyy")</td>
                                            <td class="text-center">
                                                <div class="btn-group d-flex justify-content-center">
                                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-raised mx-2 btn-warning">Update</a>
                                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-raised mx-2 btn-danger">Delete</a>
                                                    @if (item.IsDeleted)
                                                    {
                                                        <a asp-action="Recover" asp-route-id="@item.Id" class="btn btn-raised mx-2 btn-success">Recover</a>
                                                        <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-raised mx-2 btn-danger">Remove</a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-raised mx-2 btn-danger">Delete</a>
                                                    }                                                    <!-- Additional buttons if needed -->
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div>

        <!-- end row -->


    </div> <!-- end container -->
</div>
<!-- end wrapper -->   