@using TREKER.Business.ViewModels.TrekkingVMs
@using TREKER.Core.Entities
@model UpdateTrekkingVM

<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group m-0 pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Urora</a></li>
                            <li class="breadcrumb-item"><a asp-action="Tables" asp-controller="Dashboard">DB Tables</a></li>
                            <li class="breadcrumb-item"><a asp-action="Table" asp-controller="Trekking">Trekking Table</a></li>
                            <li class="breadcrumb-item active">@Model.Title</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Our Trekkings</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- Form for UpdateTeamMemberVM -->
        <div class="row justify-content-center mb-5">
            <div class="col-md-8">
                <div class="card mt-5 shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">Update Old Trekking</h4>
                    </div>
                    <div class="card-body mx-5 mb-4">
                        <div asp-validation-summary="All" style="color: red; font-size: 16px">
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Title" class="form-label">Title</label>
                                <br />
                                <input type="text" class="form-control" asp-for="Title" placeholder="Enter Title">
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="SubTitle" class="form-label">Sub Title</label>
                                <br />
                                <input type="text" class="form-control" asp-for="SubTitle" placeholder="Enter Sub Title">
                            </div>
                            <br />  
                            <div class="form-group">
                                <label asp-for="Price" class="form-label"></label>
                                <br />
                                <input class="form-control" asp-for="Price" placeholder="Enter Price">
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="RoadHeight" class="form-label">Road Height</label>
                                <br />
                                <input class="form-control" asp-for="RoadHeight" placeholder="Enter Road Height">
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="ReviewCount" class="form-label">Review Count</label>
                                <br />
                                <input class="form-control" asp-for="ReviewCount" placeholder="Enter Review Count">
                            </div>
                            <br /><div class="form-group">
                                <label asp-for="Star" class="form-label">Star</label>
                                <br />
                                <input class="form-control" asp-for="Star" placeholder="Enter Star">
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="GroupSize" class="form-label">Group Size</label>
                                <br />
                                <input type="text" class="form-control" asp-for="GroupSize" placeholder="Enter Group Size">
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="Duration" class="form-label">Duration</label>
                                <br />
                                <input class="form-control" asp-for="Duration" placeholder="Enter Duration">
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="DestinationId" class="form-label">Destination</label>
                                <br />
                                <select class="form-control" name="DestinationId" asp-for="DestinationId">
                                    @foreach (var destination in Model.Destinations)
                                    {
                                        <option value="@destination.Id">@destination.Title</option>
                                    }
                                </select>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="DifficultyId" class="form-label">Difficulty</label>
                                <br />
                                <select class="form-control" name="DifficultyId" asp-for="DifficultyId">
                                    @foreach (var difficulty in Model.Difficulties)
                                    {
                                        <option value="@difficulty.Id">@difficulty.Name</option>
                                    }
                                </select>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="FacilityIds" class="form-label">Facilities</label>
                                <br />
                                <select asp-for="FacilityIds" asp-items="new SelectList(Model.Facilities, nameof(Facility.Id), nameof(Facility.Name))" class="form-select mx-3">
                                </select>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="FeatureIds" class="form-label">Features</label>
                                <br />
                                <select asp-for="FeatureIds" asp-items="new SelectList(Model.Features, nameof(Feature.Id), nameof(Feature.Name))" class="form-select mx-3">
                                </select>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="Images" class="form-label">Images</label>
                                <br />
                                <input class="form-control" asp-for="Images" placeholder="Enter Images">
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="Images" class="form-label">Old Images</label>
                                <div class="row align-items-start">
                                    @foreach (var item in Model.OldImages.ToList())
                                    {
                                        <div class="col-2 mb-3 position-relative">
                                            <button type="button" class="btn btn-danger custom-delete position-absolute top-0 start-0">X</button>
                                            <img style="width: 100%; height: 200px; border-radius: 5px;" src="@item.ImageUrl" />
                                            <input type="hidden" value="@item.Id" name="ViewImageIds" />
                                        </div>
                                    }
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="Description" class="form-label">Description</label>
                                <br />
                                <textarea class="form-control" name="Description" asp-for="Description" placeholder="Enter Description"></textarea>
                            </div>
                            <br />
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-block mt-3">Update</button>
                            </div>
                        </form>
                        <div class="d-grid">
                            <a href="@Url.Action("Table", "Trekking")" class="btn btn-success btn-block mt-3" style="background-color: #28a745; color: white;">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end form -->

    </div> <!-- end container -->
</div>
<!-- end wrapper -->
<script>
    let btn = document.querySelectorAll(".custom-delete")
    btn.forEach(b => {
        b.addEventListener("click", function () {
            b.parentElement.remove()
        })
    })
</script>