@using TREKER.Business.Services.Abstractions
@using TREKER.Core.Entities
@using TREKER.MVC.Areas.Admin.Functions
@model IQueryable<Trekking>
@{
    Layout = null;
}

@inject LayoutService LayoutService

@{
    var settings = await LayoutService.GetSettingsAsync();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Treker - Home</title>
    <!-- Stylesheets -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->

</head>

<body>
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <div class="search-backdrop"></div>

        <!-- Main Header-->
        <header class="main-header">
            <div class="header-top">
                <div class="auto-container">
                    <div class="inner clearfix">
                        <div class="top-left clearfix">
                            <ul class="info clearfix">
                                <li><i class="icon fa fa-envelope"></i> <a href="mailto:@settings.Email">@settings.Email</a></li>
                                <li><i class="icon fa fa-phone-circle"></i> <a href="tel:@settings.Phone1">@settings.Phone1</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Upper -->
            <div class="header-upper">
                <div class="auto-container">
                    <!-- Main Box -->
                    <div class="main-box clearfix" style="display: flex; justify-content: center;">
                        <!--Logo-->
                        <div class="logo-box" style="flex: 1;">
                            <div class="logo"><a asp-action="Index" asp-controller="Home" title="Home"><img src="~/assets/images/logo.svg" alt="" title="Home"></a></div>
                        </div>

                        <div class="nav-box clearfix" style="flex: 2; text-align: center; margin-left: -6rem;">
                            <!--Nav Outer-->
                            <div class="nav-outer" style="text-align: center;">
                                <nav class="main-menu">
                                    <ul class="navigation clearfix">
                                        <li class="@(ViewBag.ActivePage == "Home" ? "current" : "") dropdown">
                                            <a asp-action="Index" asp-controller="Home">Home</a>
                                        </li>
                                        <li class="@(ViewBag.ActivePage == "About" ? "current" : "") dropdown">
                                            <a asp-action="Index" asp-controller="About">About Us</a>
                                        </li>
                                        <li class="@(ViewBag.ActivePage == "Destination" ? "current" : "")">
                                            <a asp-action="Index" asp-controller="Destination">Destinations</a>
                                        </li>
                                        <li class="@(ViewBag.ActivePage == "Trekking" ? "current" : "")">
                                            <a asp-action="Index" asp-controller="Trekking">Trekking</a>
                                        </li>
                                        <li class="@(ViewBag.ActivePage == "News" ? "current" : "") dropdown">
                                            <a asp-action="Index" asp-controller="News">News</a>
                                        </li>
                                        <li class="@(ViewBag.ActivePage == "Contact" ? "current" : "")">
                                            <a asp-action="Create" asp-controller="ContactUs">Contact</a>
                                        </li>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Dashboard" ? "current" : "")">
                                                <a asp-action="Index" asp-controller="Dashboard" asp-area="Admin">Admin</a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                                <!-- Main Menu End-->
                            </div>
                            <!--Nav Outer End-->
                            <!-- Hidden Nav Toggler -->
                            <div class="nav-toggler">
                                <button class="hidden-bar-opener"><span class="icon"><img src="~/assets/images/icons/menu-icon.svg" alt=""></span></button>
                            </div>
                        </div>
                    </div>
                    <!-- End Header Upper -->
                </div>
            </div>
        </header>
        <!--End Main Header -->
        <!--Search Backdrop-->
        <div class="search-backdrop"></div>

        <!-- Menu Backdrop -->
        <div class="menu-backdrop"></div>

        <!-- Hidden Navigation Bar -->
        <section class="hidden-bar">
            <!-- Hidden Bar Wrapper -->
            <div class="hidden-bar-wrapper">
                <div class="hidden-bar-closer"><span class="icon"><svg class="icon-close" role="presentation" viewBox="0 0 16 14"><path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path></svg></span></div>
                <div class="nav-logo-box">
                    <div class="logo"><a asp-action="Index" asp-controller="Trekking" title="Treker"><img src="~/assets/images/logo.svg" alt="" title="Treker"></a></div>
                </div>
                <!-- .Side-menu -->
                <div class="side-menu">
                    <ul class="navigation clearfix">
                        <li class="current dropdown">
                            <a asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        <li class="dropdown">
                            <a asp-action="Index" asp-controller="About">About Us</a>
                        </li>

                        <li><a asp-action="Index" asp-controller="Destination">Destinations</a></li>
                        <li><a asp-action="Index" asp-controller="Trekking">Trekking</a></li>
                        <li class="dropdown">
                            <a asp-action="Index" asp-controller="News">News</a>
                        </li>
                        <li><a asp-action="Index" asp-controller="Contact">Contact</a></li>
                    </ul>
                </div><!-- /.Side-menu -->

            </div><!-- / Hidden Bar Wrapper -->
        </section>
        <!-- / Hidden Bar -->

        <div class="cart-backdrop"></div>



        <!-- Banner Section -->
        <section class="banner-section">

            <div class="banner-container">
                <div class="banner-slider-box">
                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="auto-container">
                            <div class="content-box">
                                <div class="content">
                                    <div class="clearfix">
                                        <div class="inner">
                                            <div class="bg-image"><img src="~/assets/images/main-slider/banner-bg-text.svg" alt="" title=""></div>
                                            <h2>Never Stop</h2>
                                            <h1><span>Exploring</span></h1>
                                            <div class="text">Encouraging a lifelong pursuit of new experiences and discoveries, embracing the joy of continuous exploration and growth in every journey.</div>
                                            <div class="links-box clearfix">
                                                <div class="link"><a asp-action="Index" asp-controller="Destination" class="theme-btn btn-style-one"><span>View All Tours<i class="icon"><img src="~/assets/images/icons/logo-icon.svg" alt="" title=""></i></span></a></div>
                                                <div class="link"><a href="https://youtu.be/jVueTgwhi5w?si=HVAQ8wvAG54nZpLn" class="theme-btn lightbox-image"><i class="ripple"></i><span class="icon"><img src="~/assets/images/icons/video-icon-1.svg" alt="" title=""></span></a></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="banner-image">
                                    <div class="image"><img src="~/assets/images/main-slider/banner-image-1.svg" alt="" title=""></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--End Banner Section -->
        <!--About Us Section-->
        <section class="about-us">
            <div class="floated-icon right"><img src="~/assets/images/resource/about-stone-right.svg" alt="" title=""></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Text Col-->
                    <div class="text-col col-lg-6 col-md-12 col-sm-12">
                        <div class="inner wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                            <div class="title-box">
                                <div class="subtitle">About Treker</div>
                                <h2><i class="bg-vector"></i><span>World Best Travel Agency</span></h2>
                                <div class="text">Offering unparalleled global travel experiences, our agency strives to exceed expectations with curated itineraries, personalized service, and a commitment to excellence. Discover the world's wonders with confidence, guided by our expertise and passion for creating unforgettable journeys.</div>
                            </div>
                            <div class="lower-box">
                                <div class="lower-inner clearfix">
                                    <div class="text-content">
                                        <ul>
                                            <li>Customized travel plans.</li>
                                            <li>Experienced travel advice.</li>
                                            <li>Outstanding customer care.</li>
                                        </ul>
                                    </div>
                                    <div class="image-box">
                                        <img src="~/assets/images/resource/treker_img3.jpg" alt="" title="">
                                        <a href="https://youtu.be/t3toQ4GSP3c?si=d_odPPaF8h9FHK8w" class="theme-btn lightbox-image overlink"><span class="icon fa fa-play"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Image Col-->
                    <div class="image-col col-lg-6 col-md-12 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                            <div class="bg-image">
                                <img src="~/assets/images/resource/background-mountain.png" alt="" title="">
                            </div>
                            <div class="image-box">
                                <img src="~/assets/images/resource/about-image-1.svg" alt="" title="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Popular Section-->
        <section class="popular-section">
            <div class="bg-layer" style="background-image: url('@Url.Content("/assets/images/background/back-mountain.jpg")');"></div>
            <div class="auto-container">
                <div class="title-box centered">
                    <div class="subtitle">Modern & Beautiful</div>
                    <h2><i class="bg-vector"></i><span>Our Most Popular Trekking</span></h2>
                </div>
                <div class="carousel-box">
                    <div class="popular-carousel owl-theme owl-carousel">

                        <!--Block-->
                        @foreach (var item in Model)
                        {
                            <!-- Block -->
                            <div class="trek-block-one">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="image">
                                            <a asp-action="Detail" asp-controller="Trekking" asp-route-id="@item.Id">
                                                <img src="@item.Images.FirstOrDefault().ImageUrl" alt="" title="">
                                            </a>
                                        </div>
                                        <div class="price"><span>$@item.Price</span></div>
                                        <div class="info">
                                            <span class="i-block"><i class="icon far fa-clock"></i> @item.Days.Count days</span> &ensp; | &ensp; <span class="i-block">@item.Destination.Title</span>
                                        </div>
                                    </div>
                                    <div class="lower-content">
                                        <h4><a asp-action="Detail" asp-controller="Trekking" asp-route-id="@item.Id">@item.Title</a></h4>
                                        <div class="ratings clearfix">
                                            <div class="stars">
                                                @Html.Raw(ViewFunctions.GetStarRating(item.Star))
                                            </div>
                                            <div class="rev">
                                                <a href="#">@item.ReviewCount Review</a>
                                            </div>
                                        </div>
                                        <div class="text">
                                            @if (item.Description.Length > 60)
                                            {
                                                @Html.Raw(item.Description.Substring(0, 60) + "...")
                                            }
                                            else
                                            {
                                                @Html.Raw(item.Description)
                                            }
                                        </div>
                                    </div>
                                    <div class="bottom-box clearfix">
                                        <div class="more-link">
                                            <a asp-action="Detail" asp-controller="Trekking" asp-route-id="@item.Id" style="display: inline-block; padding: 10px; border: 2px solid #2ec4b6; border-radius: 10px; background-color: #2ec4b6; color: white;">
                                                <span style="font-size: 16px;">View Details</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </section>

        <!--Why Section-->
        <section class="why-section">
            <div class="floated-icon left"><img src="~/assets/images/resource/stones-left.svg" alt="" title=""></div>
            <div class="floated-icon right"><img src="~/assets/images/resource/stones-right.svg" alt="" title=""></div>
            <div class="auto-container">

                <div class="title-box centered">
                    <div class="subtitle">We Are Awesome</div>
                    <h2><i class="bg-vector"></i><span>Why Choose Treker</span></h2>
                </div>

                <div class="row clearfix">
                    <div class="left-col col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="why-block">
                                <div class="inner-box">
                                    <div class="icon-box"><img src="~/assets/images/resource/icon-1.svg" alt=""></div>
                                    <h4>Diverse Destinations</h4>
                                    <div class="text">Explore a variety of destinations.</div>
                                </div>
                            </div>
                            <div class="why-block">
                                <div class="inner-box">
                                    <div class="icon-box"><img src="~/assets/images/resource/icon-2.svg" alt=""></div>
                                    <h4>Value for Money</h4>
                                    <div class="text">Get the most out of your money.</div>
                                </div>
                            </div>
                            <div class="why-block">
                                <div class="inner-box">
                                    <div class="icon-box"><img src="~/assets/images/resource/icon-3.svg" alt=""></div>
                                    <h4>Beautiful Places</h4>
                                    <div class="text">Discover stunning and unique locations.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right-col col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="why-block">
                                <div class="inner-box">
                                    <div class="icon-box"><img src="~/assets/images/resource/icon-4.svg" alt=""></div>
                                    <h4>Fast Booking</h4>
                                    <div class="text">Quick and easy reservation process.</div>
                                </div>
                            </div>
                            <div class="why-block">
                                <div class="inner-box">
                                    <div class="icon-box"><img src="~/assets/images/resource/icon-5.svg" alt=""></div>
                                    <h4>Support Team</h4>
                                    <div class="text">Our support team is always here for you.</div>
                                </div>
                            </div>
                            <div class="why-block">
                                <div class="inner-box">
                                    <div class="icon-box"><img src="~/assets/images/resource/icon-6.svg" alt=""></div>
                                    <h4>Passionate Travel</h4>
                                    <div class="text">Experience passionate travel adventures.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="image-col col-xl-6 col-lg-4 col-md-12 col-sm-12">
                        <div class="inner">
                            <div class="image-box"><img src="~/assets/images/resource/why-image-1.svg" alt=""></div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--Trending Destinations Section-->
        <section class="trending-destinations">
            <div class="auto-container">

                <div class="title-box centered">
                    <div class="subtitle">Top Destinations</div>
                    <h2><i class="bg-vector"></i><span>Trending Destinations</span></h2>
                </div>

                <div class="gallery-box">
                    <div class="masonry-container row clearfix">
                        <!--Block-->
                        <div class="dest-block-one masonry-item col-lg-8 col-md-12 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box"><a href="#"><img src="~/assets/images/resource/rajathsan1.jpg" alt=""></a></div>
                                <div class="hvr-box">
                                    <div class="cap-box">
                                        <div class="cap-inner clearfix">
                                            <h4><a asp-action="Index" asp-controller="Destination">Tours</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dest-block-one masonry-item column-width col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box"><a href="#"><img src="~/assets/images/resource/rajathsan2.jpg" alt=""></a></div>
                                <div class="hvr-box alt-hvr">
                                    <div class="cap-box">
                                        <div class="cap-inner clearfix">
                                            <h4><a asp-action="Index" asp-controller="Destination">Tours</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dest-block-one masonry-item col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box"><a href="#"><img src="~/assets/images/resource/rajathsan3.jpg" alt=""></a></div>
                                <div class="hvr-box">
                                    <div class="cap-box">
                                        <div class="cap-inner clearfix">
                                            <h4><a asp-action="Index" asp-controller="Destination">Tours</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dest-block-one masonry-item col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box"><a href="#"><img src="~/assets/images/resource/rajathsan4.jpg" alt=""></a></div>
                                <div class="hvr-box">
                                    <div class="cap-box">
                                        <div class="cap-inner clearfix">
                                            <h4><a asp-action="Index" asp-controller="Destination">Tours</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dest-block-one masonry-item column-width col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box"><a href="#"><img src="~/assets/images/resource/rahathsan5.jpg" alt=""></a></div>
                                <div class="hvr-box alt-hvr">
                                    <div class="cap-box">
                                        <div class="cap-inner clearfix">
                                            <h4><a asp-action="Index" asp-controller="Destination">Tours</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="dest-block-one masonry-item col-lg-8 col-md-12 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box"><a href="#"><img src="~/assets/images/resource/rahathsan6.jpg" alt=""></a></div>
                                <div class="hvr-box">
                                    <div class="cap-box">
                                        <div class="cap-inner clearfix">
                                            <h4><a asp-action="Index" asp-controller="Destination">Tours</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!--Group Travel Section-->
        <section class="group-travel">
            <div class="bg-layer" style="background-image: url('@Url.Content("/assets/images/background/image-12.jpg")'); background-repeat: no-repeat;
  background-attachment: fixed;"></div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="row clearfix">
                        <!--Block-->
                        <div class="travel-block-one col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                                <div class="title"><h4></h4></div>
                                <div class="content">
                                    <div class="info">
                                        <span class="i-block"><i class="icon far fa-clock"></i> @Model.FirstOrDefault().Days.Count days</span> &ensp; | &ensp; <span class="i-block">@Model.FirstOrDefault().Destination.Title</span>
                                    </div>
                                    <div class="price"><span>$@Model.FirstOrDefault().Price</span></div>
                                    <div class="text">@Model.FirstOrDefault().Description </div>
                                    <div class="link-box">
                                        <a asp-action="Detail" asp-controller="Trekking" asp-route-id="@Model.FirstOrDefault().Id" style="display: inline-block; padding: 10px; border: 2px solid #2ec4b6; border-radius: 10px; background-color: #2ec4b6; color: white;">
                                            <span style="font-size: 16px;">View Details</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Block-->
                        <div class="travel-block-one alternate col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                                <div class="title"><h4></h4></div>
                                <div class="content">
                                    <div class="info">
                                        <span class="i-block"><i class="icon far fa-clock"></i> @Model.Skip(1).FirstOrDefault().Days.Count days</span> &ensp; | &ensp; <span class="i-block">@Model.Skip(1).FirstOrDefault().Destination.Title</span>
                                    </div>
                                    <div class="price"><span>$@Model.Skip(1).FirstOrDefault().Price</span></div>
                                    <div class="text">@Model.Skip(1).FirstOrDefault().Description </div>
                                    <div class="link-box">
                                        <a asp-action="Detail" asp-controller="Trekking" asp-route-id="@Model.Skip(1).FirstOrDefault().Id" style="display: inline-block; padding: 10px; border: 2px solid #2ec4b6; border-radius: 10px; background-color: #2ec4b6; color: white;">
                                            <span style="font-size: 16px;">View Details</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!--Testimonials Section-->
        <section class="testimonials-one">
            <div class="bg-layer" style="background-image: url(images/background/image-3.jpg);"></div>
            <div class="auto-container">
                <div class="title-box centered">
                    <div class="subtitle">Review & Testimonial</div>
                    <h2><i class="bg-vector"></i><span>Top Reviews for Treker</span></h2>
                </div>
                <div class="carousel-box">
                    <div class="testi-carousel owl-theme owl-carousel">
                        <!--Testi Block-->
                        <div class="testi-block">
                            <div class="inner-box">
                                <div class="icon"><img src="~/assets/images/icons/quotes-1.svg" alt=""></div>
                                <div class="text">Fight School has specialized in martial arts since 1986 and has one of the most Fight School has specialized.</div>
                                <div class="info">
                                    <div class="name">Randall Schwartz</div>
                                    <div class="clearfix">
                                        <div class="designation">Women's Trainner</div>
                                        <div class="rating"><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Testi Block-->
                        <div class="testi-block">
                            <div class="inner-box">
                                <div class="icon"><img src="~/assets/images/icons/quotes-1.svg" alt=""></div>
                                <div class="text">We teach martial arts because we love it — not because we want to make money on you. Unlike other martial.</div>
                                <div class="info">
                                    <div class="name">Andru Smith</div>
                                    <div class="clearfix">
                                        <div class="designation">Boxing Trainer</div>
                                        <div class="rating"><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Testi Block-->
                        <div class="testi-block">
                            <div class="inner-box">
                                <div class="icon"><img src="~/assets/images/icons/quotes-1.svg" alt=""></div>
                                <div class="text">Fight School has specialized in martial arts since 1986 and has one of the most Fight School has specialized.</div>
                                <div class="info">
                                    <div class="name">Randall Schwartz</div>
                                    <div class="clearfix">
                                        <div class="designation">Women's Trainner</div>
                                        <div class="rating"><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Testi Block-->
                        <div class="testi-block">
                            <div class="inner-box">
                                <div class="icon"><img src="~/assets/images/icons/quotes-1.svg" alt=""></div>
                                <div class="text">We teach martial arts because we love it — not because we want to make money on you. Unlike other martial.</div>
                                <div class="info">
                                    <div class="name">Andru Smith</div>
                                    <div class="clearfix">
                                        <div class="designation">Boxing Trainer</div>
                                        <div class="rating"><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--Main Footer-->
        <footer class="main-footer">
            <div class="bg-layer" style="background-image: url(../images/background/f-bottom-bg.svg);"></div>
            <div class="floated-icon"><img src="~/assets/images/resource/footer-stones.svg" alt="" title=""></div>
            <div class="info-section">
                <div class="auto-container">

                    <div class="row clearfix">

                        <div class="footer-column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <!--Logo-->
                            <div class="footer-logo">
                                <div class="logo"><a asp-action="Index" asp-controller="Home" title="Treker"><img src="~/assets/images/logo.svg" alt="" title="Treker"></a></div>
                            </div>
                            <div class="footer-text">With a focus on authenticity and personalized service, we ensure every trip with us is not just a vacation, but a transformative experience that leaves a lasting impression. </div>
                        </div>

                        <div class="footer-column col-xl-8 col-lg-12 col-md-12 col-sm-12" style="display: flex; justify-content: flex-end;">
                            <div class="row clearfix" style="width: 100%;">
                                <div class="info-block col-lg-4 col-md-4 col-sm-12">
                                    <h6>Azerbaijan</h6>
                                    <div class="info">
                                        <ul>
                                            <li>@settings.Address1 </li>
                                            <li><a href="tel:@settings.Phone1">@settings.Phone1</a></li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="info-block col-lg-4 col-md-4 col-sm-12">
                                    <h6>Azerbaijan</h6>
                                    <div class="info">
                                        <ul>
                                            <li>@settings.Address2 </li>
                                            <li><a href="tel:@settings.Phone2">@settings.Phone2</a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="lower-section">
                <div class="auto-container">
                    <div class="content-box">
                        <div class="row clearfix">

                            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
                                <div class="row clearfix">

                                    <div class="footer-column col-lg-4 col-md-4 col-sm-12">
                                        <h6>About us</h6>
                                        <div class="links">
                                            <ul>
                                                <li><a asp-action="Index" asp-controller="About">About Us</a></li>
                                                <li><a asp-action="Index" asp-controller="News">Community Blog</a></li>
                                                <li><a asp-action="Index" asp-controller="Destination">Tours</a></li>
                                                <li><a asp-action="Create" asp-controller="ContactUs">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="footer-column col-lg-4 col-md-4 col-sm-12">
                                        <h6>Exlopre Treker</h6>
                                        <div class="links">
                                            <ul>
                                                <li><a asp-action="Index" asp-controller="Trekking">Trekking</a></li>
                                                <li><a asp-action="Index" asp-controller="About">Privacy Policy</a></li>
                                                <li><a asp-action="Index" asp-controller="News">Program</a></li>
                                                <li><a asp-action="Index" asp-controller="About">Our Partner</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="footer-column col-lg-4 col-md-4 col-sm-12">
                                        <h6>Quick lInks</h6>
                                        <div class="links">
                                            <ul>
                                                <li><a asp-action="Index" asp-controller="About">About us</a></li>
                                                <li><a asp-action="Index" asp-controller="News">News & press</a></li>
                                                <li><a asp-action="Index" asp-controller="Blog">Blog</a></li>
                                                <li><a asp-action="Create" asp-controller="ContactUs">FAQs</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="footer-column col-xl-4 col-lg-6 col-md-8 col-sm-12">
                                <h6>Gallery</h6>
                                <!--Logo-->
                                <div class="footer-gallery">
                                    <div class="inner clearfix">
                                        <div class="image-block"><div class="image"><a href="~/assets/images/resource/same3.jpg" class="lightbox-image"><img src="~/assets/images/resource/same3.jpg" alt=""></a></div></div>
                                        <div class="image-block"><div class="image"><a href="~/assets/images/resource/same2.jpg" class="lightbox-image"><img src="~/assets/images/resource/same2.jpg" alt=""></a></div></div>
                                        <div class="image-block"><div class="image"><a href="~/assets/images/resource/same4.jpg" class="lightbox-image"><img src="~/assets/images/resource/same4.jpg" alt=""></a></div></div>@*
                                        <div class="image-block"><div class="image"><a href="~/assets/images/resource/trekking12.jpg" class="lightbox-image"><img src="~/assets/images/resource/trekking13.jpg" alt=""></a></div></div>
                                        <div class="image-block"><div class="image"><a href="~/assets/images/resource/trekking8.jpg class="lightbox-image"><img src="~/assets/images/resource/trekking12.jpg" alt=""></a></div></div>
                                        <div class="image-block"><div class="image"><a href="~/assets/images/resource/trekking13.jpg class="lightbox-image"><img src="~/assets/images/resource/trekking11.jpg" alt=""></a></div></div> *@
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="f-bottom">
                <div class="auto-container">
                    <div class="inner clearfix">
                        <div class="social-links">
                            <ul class="clearfix">
                                <li><a href="@settings.Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="@settings.Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="@settings.Youtube"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="@settings.Instagram"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="copyright">2024 Treker. All Rights Reserved. Designed by Asime Quluzade</div>
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon"><img src="~/assets/images/icons/arrow-up.svg" alt="" title="Go To Top"></span></div>

    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/jquery.fancybox.js"></script>
    <script src="~/assets/js/mixitup.js"></script>
    <script src="~/assets/js/appear.js"></script>
    <script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/touchspin.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/odometer.js"></script>
    <script src="~/assets/js/custom-script.js"></script>
</body>
</html>
