@using TREKER.Business.ViewModels.PageVM
@model DestinationVM

    <!-- Banner Section -->
<section class="inner-banner">
    <div class="image-layer" style="background-image: url('@Url.Content("/assets/images/background/backphoto3.jpg")');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h2>Destinations</h2>
            <div class="bread-crumb">
                <ul class="clearfix">
                    <li><span class="icon-home fa fa-home"></span><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="current">Destinations</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!--Destination Tours Section-->
<section class="dest-section">
    <div class="floated-icon left"><img src="~/assets/images/resource/stones-left.svg" alt="" title=""></div>
    <div class="floated-icon right"><img src="~/assets/images/resource/stones-right.svg" alt="" title=""></div>
    <div class="auto-container">
        <div class="title-box centered">
            <h2><span>Trending Destinations</span></h2>
            <div class="text">Offering unparalleled global travel experiences, our agency strives to exceed expectations with curated itineraries, personalized service, and a commitment to excellence. Discover the world's wonders with confidence, guided by our expertise and passion for creating unforgettable journeys.</div>
        </div>
        <!--MixitUp Galery-->
        <div class="mixitup-gallery">
            <!--Filter-->
            <div class="gallery-filters centered clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="active filter" data-role="button" data-filter="all">All</li>
                    @foreach (var item in Model.Regions)
                    {
                        <li class="filter" data-role="button" data-filter=".@(item.Name.Replace(" ", ""))">@item.Name</li>
                    }
                </ul>
            </div>

            <div class="filter-list row clearfix" id="destination-list">
                <!--Block-->
                @foreach (var item in Model.Destinations)
                {
                    <div class="trend-block-one mix @(item.Region.Name.Replace(" ", "")) col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><a href="#"><img src="@item.ImageUrl" alt="" title=""></a></div>
                            </div>
                            <div class="title clearfix">
                                <h4><a href="#">@item.Title</a></h4>
                                <div class="more-link"><a asp-action="Index" asp-controller="Trekking" asp-route-destinationId="@item.Id" class="theme-btn"><span class="far fa-long-arrow-right"></span></a></div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</section>

<!-- Facts Section -->
<section class="facts-section">
    <div class="image-layer" style="background-image: url('@Url.Content("/assets/images/background/backphoto5.jpg")');"></div>
    <div class="auto-container">
        <div class="content-box">
            <div class="video-btn"><a href="https://youtu.be/4nqHReHQ1hs?si=kraNrbDiCKlxFHHq" class="theme-btn lightbox-image"><span class="icon"><img src="~/assets/images/icons/video-icon-2.svg" alt="" title=""></span></a></div>
            <div class="subtitle">Are you ready to travel?</div>
            <h2>Treker is a World Leading Online Tour Booking Platform</h2>
        </div>
    </div>
    <div class="facts-box">
        <div class="auto-container">
            <div class="inner-box">
                <div class="row clearfix">
                    <!--Block-->
                    <div class="fact-block col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="count"><span class="odometer" data-count="02"></span>+</div>
                            <div class="fact-title"><span>Years Exp</span></div>
                        </div>
                    </div>
                    <!--Block-->
                    <div class="fact-block col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="count"><span class="odometer" data-count="25"></span>+</div>
                            <div class="fact-title"><span>Top Hosts</span></div>
                        </div>
                    </div>
                    <!--Block-->
                    <div class="fact-block col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="count"><span class="odometer" data-count="30"></span>+</div>
                            <div class="fact-title"><span>Top Region</span></div>
                        </div>
                    </div>
                    <!--Block-->
                    <div class="fact-block col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="count"><span class="odometer" data-count="2"></span>k+</div>
                            <div class="fact-title"><span>Client Avilable</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Facts Section -->
<!--Testimonials Section-->
<section class="testimonials-one">
    <div class="floated-icon right"><img src="~/assets/images/resource/team-icon-left.svg" alt="" title=""></div>
    <div class="floated-icon left"><img src="~/assets/images/resource/stones-left.svg" alt="" title=""></div>
    <div class="auto-container">
        <div class="title-box centered">
            <h2><span>Top Reviews for Treker</span></h2>
        </div>
        <div class="carousel-box">
            <div class="testi-carousel owl-theme owl-carousel">
                <!--Testi Block-->
                <div class="testi-block">
                    <div class="inner-box">
                        <div class="icon"><img src="~/assets/images/icons/quotes-1.svg" alt=""></div>
                        <div class="text">Shamakhi is a paradise for nature lovers and trekking enthusiasts. The biodiversity here is simply astonishing.</div>
                        <div class="info">
                            <div class="name"> Sarah Williams</div>
                            <div class="clearfix">
                                <div class="designation">Scientist</div>
                                <div class="rating"><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Testi Block-->
                <div class="testi-block">
                    <div class="inner-box">
                        <div class="icon"><img src="~/assets/images/icons/quotes-1.svg" alt=""></div>
                        <div class="text">Every step in Shamakhi feels like a step back in time, with nature's beauty and history unfolding before your eyes</div>
                        <div class="info">
                            <div class="name">David Brown</div>
                            <div class="clearfix">
                                <div class="designation">Travel Writer</div>
                                <div class="rating"><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
                            </div>
                        </div>
                    </div>
                </div>

               

                <!--Testi Block-->
                <div class="testi-block">
                    <div class="inner-box">
                        <div class="icon"><img src="~/assets/images/icons/quotes-1.svg" alt=""></div>
                        <div class="text">For anyone interested in geology or just looking for beautiful, varied treks, Shamakhi is a fantastic destination.</div>
                        <div class="info">
                            <div class="name">Emily Thompson</div>
                            <div class="clearfix">
                                <div class="designation">Fitness Trainer</div>
                                <div class="rating"><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Testi Block-->
                <div class="testi-block">
                    <div class="inner-box">
                        <div class="icon"><img src="~/assets/images/icons/quotes-1.svg" alt=""></div>
                        <div class="text">The fresh air and  views are rejuvenating, making Guba a top destination for anyone looking to combine fitness with adventure.</div>
                        <div class="info">
                            <div class="name">Olivia Martin</div>
                            <div class="clearfix">
                                <div class="designation"> Geologist</div>
                                <div class="rating"><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
                            </div>
                        </div>
                    </div>
                </div>

               
                </div>

            </div>
        </div>
    </div>
</section>
