@using TREKER.Core.Entities
@model Difficulty

<style>
    .icon-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        line-height: 1;
    }

        .icon-btn i {
            color: #fff;
        }

    .btn-update {
        background-color: #f39c12;
        border-color: #f39c12;
    }

    .btn-delete {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-back {
        background-color: #17a2b8;
        border-color: #17a2b8;
    }

    .btn-icon {
        padding: 6px;
        border-radius: 50%;
        color: #fff;
        margin-left: 8px;
        font-size: 16px; /* Icon font size */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
    }
</style>


<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group m-0 pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Urora</a></li>
                            <li class="breadcrumb-item"><a asp-action="Tables" asp-controller="Dashboard">DB Tables</a></li>
                            <li class="breadcrumb-item"><a asp-action="Table" asp-controller="Difficulty">Difficulties</a></li>
                            <li class="breadcrumb-item active">@Model.Name</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Our Difficulty: @Model.Name</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="row">
            <div class="col-md-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <h4 class="mt-0 header-title text-center">Difficulty Details</h4>
                        <hr>
                        <div class="row">
                            <div class="col-md-9">
                                <dl class="row" style="font-size: 18px;">
                                    <dt class="col-sm-3 font-weight-bold text-right">Name:</dt>
                                    <dd class="col-sm-9">@Model.Name</dd>

                                    <dt class="col-sm-3 font-weight-bold text-right">Created Date:</dt>
                                    <dd class="col-sm-9">@Model.CreatedDate.ToString("dd MMM yyyy")</dd>
                                </dl>
                                @if (!Model.IsDeleted)
                                {
                                    <div class="text-right mt-4">
                                        <div class="d-inline-block ml-auto">
                                            <a asp-action="Update" asp-route-id="@Model.Id" class="btn-icon btn-update mr-3">
                                                <span style="border-radius: 50%; display: inline-flex; align-items: center; justify-content: center; width: 36px; height: 36px; background-color: #f39c12; color: #fff;">
                                                    <i style="line-height: 1; font-size: 16px;" class="fa fa-pencil"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="d-inline-block">
                                            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn-icon btn-delete mr-3">
                                                <span style="border-radius: 50%; display: inline-flex; align-items: center; justify-content: center; width: 36px; height: 36px; background-color: #dc3545; color: #fff;">
                                                    <i style="line-height: 1; font-size: 16px;" class="fa fa-trash"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="d-inline-block">
                                            <a asp-action="Table" class="btn-icon btn-back">
                                                <span style="border-radius: 50%; display: inline-flex; align-items: center; justify-content: center; width: 36px; height: 36px; background-color: #17a2b8; color: #fff;">
                                                    <i style="line-height: 1; font-size: 16px;" class="fa fa-arrow-left"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- end container -->
</div>
<!-- end wrapper -->
<!-- Include Font Awesome for icons -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
