@using TREKER.Business.ViewModels.PageVM
@using TREKER.MVC.Areas.Admin.Functions

@model TablesVM

<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group m-0 pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Urora</a></li>
                            <li class="breadcrumb-item"><a asp-action="Tables" asp-controller="Dashboard">DB Tables</a></li>
                        </ol>
                    </div>
                    <h4 class="page-title">DB Tables</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Trekkings Table -->
            <div class="col-md-12 col-lg-12 col-xl-6">
                <div class="card m-b-30">
                    <div class="card-body">
                        <a asp-action="Table" asp-controller="Trekking"><h4 class="mt-0 header-title">Trekkings</h4></a>
                        <table class="table mb-0">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th>Group Size</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var countTrek = 0;
                                }
                                @foreach (var item in Model.Trekkings)
                                {
                                    countTrek++;
                                    <tr>
                                        <th scope="row">@countTrek</th>
                                        <td>@item.Title</td>
                                        <td>@item.Price</td>
                                        <td>@item.GroupSize</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
            <!-- Blogs Table -->
            <div class="col-md-12 col-lg-12 col-xl-6">
                <div class="card m-b-30">
                    <div class="card-body">
                        <a asp-action="Table" asp-controller="Blog"><h4 class="mt-0 header-title">Blogs</h4></a>
                        <table class="table mb-0">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>By Username</th>
                                    <th>Destination</th>
                            </thead>
                            <tbody>

                                @{
                                    var countBlog = 0;
                                }
                                @foreach (var item in Model.Blogs)
                                {
                                    countBlog++;
                                    <tr>
                                        <th scope="row">@countBlog</th>
                                        <td>@item.Title</td>
                                        <td>@item.ByUsername</td>
                                        <td>@item.Destination.Title</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
        </div>



        <div class="row">
            <!-- Team Members Table -->
            <div class="col-md-12 col-lg-12 col-xl-6">
                <div class="card m-b-30">
                    <div class="card-body">
                        <a asp-action="Table" asp-controller="TeamMember"><h4 class="mt-0 header-title">Team Members</h4></a>
                        <table class="table mb-0">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Role</th>
                                    <th>Joined Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var countTM = 0;
                                }
                                @foreach(var item in Model.TeamMembers)
                                {
                                    countTM++;
                                    <tr>
                                        <th scope="row">@countTM</th>
                                        <td>@item.FullName</td>
                                        <td>@ViewFunctions.InsertSpacesBeforeUppercase(item.TeamMemberRoles.ToString())</td>
                                        <td>@item.CreatedDate.ToString("dd MMM yyyy")</td>
                                    </tr>
                                }

                            </tbody>
                         
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
            <!-- Destinations Table -->
            <div class="col-md-12 col-lg-12 col-xl-6">
                <div class="card m-b-30">
                    <div class="card-body">
                        <a asp-action="Table" asp-controller="Destination"><h4 class="mt-0 header-title">Destinations</h4></a>
                        <table class="table mb-0">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Region</th>
                                    <th>Created Date</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    var countDest = 0;
                                }
                                @foreach (var item in Model.Destinations)
                                {
                                    countDest++;
                                    <tr>
                                        <th scope="row">@countDest</th>
                                        <td>@item.Title</td>
                                        <td>@item.Region.Name</td>
                                        <td>@item.CreatedDate.ToString("dd MMM yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
            <!-- Trekkings Table -->
            <div class="col-md-12 col-lg-12 col-xl-6">
                <div class="card m-b-30">
                    <div class="card-body">
                        <a asp-action="Table" asp-controller="Facility"><h4 class="mt-0 header-title">Facilities</h4></a>
                        <table class="table mb-0">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Icon</th>
                                    <th>Created Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var countFacil = 0;
                                }
                                @foreach (var item in Model.Facilities)
                                {
                                    countFacil++;
                                    <tr>
                                        <th scope="row">@countFacil</th>
                                        <td>@item.Name</td>
                                        <td style="font-size: 18px;">@Html.Raw(item.Icon)</td>
                                        <td>@item.CreatedDate.ToString("dd MMM yyyy")</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
            <!-- Destinations Table -->
            <div class="col-md-12 col-lg-12 col-xl-6">
                <div class="card m-b-30">
                    <div class="card-body">
                        <a asp-action="Table" asp-controller="Feature"><h4 class="mt-0 header-title">Features</h4></a>
                        <table class="table mb-0">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Created Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var countFeat = 0;
                                }
                                @foreach (var item in Model.Features)
                                {
                                    countFeat++;
                                    <tr>
                                        <th scope="row">@countFeat</th>
                                        <td>@item.Name</td>
                                        <td>@item.CreatedDate.ToString("dd MMM yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->

            <!-- Difficulties Table -->
            <div class="col-md-12 col-lg-12 col-xl-6">
                <div class="card m-b-30">
                    <div class="card-body">
                        <a asp-action="Table" asp-controller="Difficulty"><h4 class="mt-0 header-title">Difficulties</h4></a>
                        <table class="table mb-0">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Created Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var countDiff = 0;
                                }
                                @foreach(var item in Model.Difficulties)
                                {
                                    countDiff++;
                                    <tr>
                                        <th scope="row">@countDiff</th>
                                        <td>@item.Name</td>
                                        <td>@item.CreatedDate.ToString("dd MMM yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
           
           
          
    
            <!-- Regions Table -->
            <div class="col-md-12 col-lg-12 col-xl-6">
                <div class="card m-b-30">
                    <div class="card-body">
                        <a asp-action="Table" asp-controller="Region"><h4 class="mt-0 header-title">Regions</h4></a>
                        <table class="table mb-0">
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Created Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var countReg = 0;
                                }
                                @foreach (var item in Model.Regions)
                                {
                                    countReg++;
                                    <tr>
                                        <th scope="row">@countReg</th>
                                        <td>@item.Name</td>
                                        <td>@item.CreatedDate.ToString("dd MMM yyyy")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
         
        </div> <!-- end row -->

    </div> <!-- end container -->
</div>
<!-- end wrapper -->
