@using TREKER.Business.ViewModels.PageVM
@using TREKER.MVC.Areas.Admin.Functions
@model TrekkingVM

 <!-- Banner Section -->
<section class="inner-banner">
    <div class="image-layer" style="background-image: url('@Url.Content("/assets/images/background/backphoto3.jpg")');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h2>Trekking</h2>
            <div class="bread-crumb">
                <ul class="clearfix">
                    <li><span class="icon-home fa fa-home"></span><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="current">Trekking</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!--Trekking Section-->
<section class="trekking-section">
    <div class="floated-icon left"><img src="~/assets/images/resource/hills-image-2.svg" alt="" title=""></div>
    <div class="floated-icon right"><img src="~/assets/images/resource/stones-right.svg" alt="" title=""></div>
    <div class="floated-icon right-2"><img src="~/assets/images/resource/floated-icon-right-2.svg" alt="" title=""></div>
    <div class="auto-container">
        <div class="title-box centered">
            <h2><span>Best Treks for you with Trekker</span></h2>
            <div class="text">Since 2014, we’ve helped more than 500,000 people of all ages enjoy the best outdoor experience of their lives. Whether it’s for one day or a two-week vacation, close to home or a foreign land.</div>
        </div>
        <!--MixitUp Galery-->
        <div class="mixitup-gallery">
            <!--Filter-->
            <div class="gallery-filters centered clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="active filter" data-role="button" data-filter="all">All</li>
                    @foreach (var item in Model.Difficulties)
                    {
                        <li class="filter" data-role="button" data-filter=".@(item.Name.Replace(" ", ""))">@item.Name</li>
                    }
                </ul>
            </div>
            <div class="filter-list row clearfix">
                <!--Block-->
                @foreach (var item in Model.Trekkings)
                {
                    <div class="trek-block-one style-two mix @(item.Difficulty.Name.Replace(" ", "")) col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div 
                            lass="inner-box">
                            <div class="image-box">
                                <div class="image">
                                    <a asp-action="Detail" asp-controller="Trekking" asp-route-id="@item.Id">
                                        <img src="@item.Images.FirstOrDefault().ImageUrl" alt="" title="">
                                    </a>
                                </div>
                                <div class="price">
                                    <span>$@item.Price</span>
                                </div>
                                <div class="info">
                                    <span class="i-block"><i class="icon far fa-clock"></i> @item.Days.Count days</span> &ensp; | &ensp; <span class="i-block">@item.Destination.Title</span>
                                </div>
                            </div>
                            <div class="lower-content">
                                <h4><a asp-action="Detail" asp-controller="Trekking" asp-route-id="@item.Id">@item.Title</a></h4>
                                <div class="ratings clearfix">
                                    <div class="stars">
                                        @Html.Raw(ViewFunctions.GetStarRating(item.Star))
                                    </div>
                                    <div class="rev">
                                        <a href="#">@item.ReviewCount Review</a>
                                    </div>
                                </div>
                                <div class="text">
                                    @if (item.Description.Length > 150)
                                    {
                                        @Html.Raw(item.Description.Substring(0, 150) + "...")
                                    }
                                    else
                                    {
                                        @Html.Raw(item.Description)
                                    }

                                    <div class="bottom-box clearfix" style="text-align: center;">
                                        <div class="more-link">
                                            <a asp-action="Detail" asp-controller="Trekking" asp-route-id="@item.Id" style="display: inline-block; padding: 10px; border: 2px solid #2ec4b6; border-radius: 10px; background-color: #2ec4b6; color: white;">
                                                <span style="font-size: 16px;">View Details</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                          
                        </div>
                    </div>
                }



            </div>

        </div>
    </div>
</section>

<!-- Facts Section -->
<section class="facts-section">
    <div class="image-layer" style="background-image: url('@Url.Content("/assets/images/background/backphoto5.jpg")');"></div>
    <div class="auto-container">
        <div class="content-box">
            <div class="video-btn"><a href="https://youtu.be/ruQdDdLB420?si=PXJpfrFMQGH_OLiK" class="theme-btn lightbox-image"><span class="icon"><img src="~/assets/images/icons/video-icon-2.svg" alt="" title=""></span></a></div>
            <div class="subtitle">Are you ready to travel?</div>
            <h2>How to Pack Your Backpack the Right Way</h2>
        </div>
    </div>
    <div class="facts-box">
        <div class="auto-container">
            <div class="inner-box">
                <div class="row clearfix">
                    <!--Block-->
                    <div class="fact-block col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="count"><span class="odometer" data-count="02"></span>+</div>
                            <div class="fact-title"><span>Years Exp</span></div>
                        </div>
                    </div>
                    <!--Block-->
                    <div class="fact-block col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="count"><span class="odometer" data-count="25"></span>+</div>
                            <div class="fact-title"><span>Top Hosts</span></div>
                        </div>
                    </div>
                    <!--Block-->
                    <div class="fact-block col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="count"><span class="odometer" data-count="30"></span>+</div>
                            <div class="fact-title"><span>Top Region</span></div>
                        </div>
                    </div>
                    <!--Block-->
                    <div class="fact-block col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="count"><span class="odometer" data-count="2"></span>k+</div>
                            <div class="fact-title"><span>Client Avilable</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Facts Section -->
<!--FAQs Section-->
<section class="faq-one style-three">
    <div class="floated-icon left"><img src="~/assets/images/resource/stones-left.svg" alt="" title=""></div>
    <div class="floated-icon right"><img src="~/assets/images/resource/floated-icon-right-2.svg" alt="" title=""></div>
    <div class="auto-container">
        <div class="title-box centered">
            <h2><span>Get Some Important Answer</span></h2>
        </div>
        <div class="row clearfix">
            <!--Text Col-->
            <div class="text-col col-lg-6 col-md-12 col-sm-12">
                <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <div class="accordion-box clearfix">
                        <!--Block-->
                        <div class="accordion block active-block">
                            <div class="acc-btn active">What is Trekking? <i class="fa-regular fa-angle-down"></i></div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Trekking is a form of hiking that involves multi-day, long-distance walking, often through rugged and challenging terrains. It typically takes place in natural environments such as mountains, forests, or remote regions, where trekkers can enjoy scenic views, encounter diverse wildlife, and immerse themselves in nature. Unlike regular hiking, trekking usually requires a higher level of endurance and preparation, as it may involve camping, carrying supplies, and navigating through less-traveled paths.</div>
                                </div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="accordion block">
                            <div class="acc-btn">What do I need to carry? <i class="fa-regular fa-angle-down"></i></div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">
                                        <li>1.Backpack: Choose a durable, comfortable backpack to carry all your gear.</li>
                                        <li>2.Clothing: Pack moisture-wicking base layers, insulating layers, waterproof outer layers, hiking pants, sturdy boots, and extra socks.</li>
                                        <li>3.Camping Gear: Bring a tent, sleeping bag, and sleeping pad for overnight treks.</li>
                                        <li>4.Food and Water: Carry high-energy snacks, lightweight meals, and plenty of water.</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="accordion block">
                            <div class="acc-btn">How concerned should I be about the altitude? <i class="fa-regular fa-angle-down"></i></div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">
                                        Altitude can significantly affect your trekking experience, especially if you're going above 8,000 feet (2,400 meters). Here are some key points to consider.
                                        Be aware of altitude sickness symptoms such as headaches, nausea, dizziness, and shortness of breath. It can affect anyone, regardless of fitness level.
                                        Ascend gradually to give your body time to adjust. Spend a few days at intermediate altitudes if possible and follow the “climb high, sleep low” rule.
                                        Drink plenty of water and eat a balanced diet to help your body cope with the altitude.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="accordion block">
                            <div class="acc-btn">What do we eat and drink while on trek? <i class="fa-regular fa-angle-down"></i></div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">
                                        While on a trek, eat high-energy snacks like nuts and dried fruits, portable meals like oatmeal and instant noodles, and drink plenty of water, electrolyte drinks, and hot beverages to stay hydrated and energized.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--Image Col-->
            <div class="image-col col-lg-6 col-md-12 col-sm-12">
                <div class="inner wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <div class="image-box">
                        <img src="~/assets/images/resource/faq-image-1.svg" alt="" title="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>