@using TREKER.Core.Entities

@model IQueryable<Blog>

<!-- Banner Section -->
<section class="inner-banner">
    <div class="image-layer" style="background-image: url('@Url.Content("/assets/images/background/backphoto3.jpg")');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h2>Blog</h2>
            <div class="bread-crumb">
                <ul class="clearfix">
                    <li><span class="icon-home fa fa-home"></span><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="current">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!-- Sidebar Page Container -->
<section class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Side -->
            <div class="content-side col-xl-8 col-lg-7 col-md-12 col-sm-12">
                <div class="blog-grid">
                    <div class="row clearfix">

                        @foreach (var item in Model)
                        {
                            <!-- Block -->
                            <div class="news-block-one col-xl-6 col-lg-12 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="image"><a href="#"><img src="@item.Images.FirstOrDefault().ImageUrl" alt="" title=""></a></div>
                                    </div>
                                    <div class="lower-content">
                                        <div class="info">
                                            <span class="i-block">By : @item.ByUsername</span> &ensp; | &ensp; <span class="i-block">@item.CreatedDate</span>
                                        </div>
                                        <h4><a href="#">@item.Title</a></h4>
                                        <div class="text">@item.Description</div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    @* 	<!--Block-->
                    @foreach(var item in Model)
                    {
                    <div class="news-block-one col-xl-6 col-lg-12 col-md-6 col-sm-12">
                    <div class="inner-box">
                    <div class="lower-content">
                    <div class="info">
                    <span class="i-block">By : @item.ByUsername</span> &ensp; | &ensp; <span class="i-block">@item.CreatedDate</span>
                    </div>
                    <h4><a href="blog-single.html">@item.Title</a></h4>
                    <div class="text">@item.Description.</div>
                    </div>
                    <div class="image-box">
                    <div class="image"><a href="blog-single.html"><img src="@item.Images.FirstOrDefault().ImageUrl" alt="" title=""></a></div>
                    <div class="cat"><span>Trekking</span></div>
                    </div>
                    </div>
                    </div>
                    } *@


                    @* 	<!-- Styled Pagination -->
                    <ul class="styled-pagination">
                    <li class="prev"><a href="#">Prev</a></li>
                    <li><a href="#" class="active">01</a></li>
                    <li><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                    <li><a href="#">04</a></li>
                    <li><a href="#">05</a></li>
                    <li class="next"><a href="#">Next</a></li>
                    </ul>
                    <!-- End Styled Pagination --> *@

                </div>
            </div>

            <!-- Sidebar Column -->
            <div class="sidebar-column col-xl-4 col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">



                    <!-- Follow Widget -->
                    <div class="sidebar-widget follow-widget">
                        <div class="sidebar-title">
                            <h5>Follow us</h5>
                        </div>
                        <ul class="social-list">
                            <li class="facebook"><span class="icon fab fa-facebook-f fa-fw"></span> <strong>12K +</strong> Followers</li>
                            <li class="twitter"><span class="icon fab fa-twitter fa-fw"></span> <strong>14K +</strong> Followers</li>
                            <li class="youtube"><span class="icon fab fa-youtube fa-fw"></span> <strong>4K +</strong> Followers</li>
                            <li class="linkedin"><span class="icon fab fa-linkedin-in fa-fw"></span> <strong>2K +</strong> Followers</li>
                        </ul>
                    </div>

                    <!-- Category Widget -->
                    <div class="sidebar-widget category-widget">
                        <div class="sidebar-title">
                            <h5>Destinations</h5>
                        </div>
                        @{
                            // Materialize Model.Destinations into a list
                            var destinations = (ViewData["destinations"] as IQueryable<Destination>).Take(8).ToList();

                            // Materialize Model.Trekkings into a list
                            var blogs = Model;
                        }

                        <ul class="sidebar-category-list">
                            @foreach (var item in destinations)
                            {
                                <li style="background-image: url('@Url.Content(item.ImageUrl)')">
                                    <span class="txt">@item.Title</span>
                                    <span class="number">
                                        @{
                                            // Count trekkings for the current destination
                                            var count = blogs.Count(t => t.DestinationId == item.Id);
                                        }
                                        @count
                                    </span>
                                </li>
                            }
                        </ul>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>
