@using TREKER.Business.Services.Abstractions
@inject LayoutService LayoutService

@{
    var settings = await LayoutService.GetSettingsAsync();
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Treker </title>
    <!-- Stylesheets -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->

</head>


<body>
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <div class="search-backdrop"></div>

        <!-- Main Header-->
        <header class="main-header">
            <div class="header-top">
                <div class="auto-container">
                    <div class="inner clearfix">
                        <div class="top-left clearfix">
                            <ul class="info clearfix">
                                <li><i class="icon fa fa-envelope"></i> <a href="mailto:@settings.Email">@settings.Email</a></li>
                                <li><i class="icon fa fa-phone-circle"></i> <a href="tel:@settings.Phone1">@settings.Phone1</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Upper -->
            <div class="header-upper">
                <div class="auto-container">
                    <!-- Main Box -->
                    <div class="main-box clearfix" style="display: flex; justify-content: center;">
                        <!--Logo-->
                        <div class="logo-box" style="flex: 1;">
                            <div class="logo"><a asp-action="Index" asp-controller="Home" title="Home"><img src="~/assets/images/logo.svg" alt="" title="Home"></a></div>
                        </div>

                        <div class="nav-box clearfix" style="flex: 2; text-align: center; margin-left: -6rem;">
                            <!--Nav Outer-->
                            <div class="nav-outer" style="text-align: center;">
                                <nav class="main-menu">
                                    <ul class="navigation clearfix">
                                        <li class="@(ViewBag.ActivePage == "Home" ? "current" : "") dropdown">
                                            <a asp-action="Index" asp-controller="Home">Home</a>
                                        </li>
                                        <li class="@(ViewBag.ActivePage == "About" ? "current" : "") dropdown">
                                            <a asp-action="Index" asp-controller="About">About Us</a>
                                        </li>
                                        <li class="@(ViewBag.ActivePage == "Destination" ? "current" : "")">
                                            <a asp-action="Index" asp-controller="Destination">Destinations</a>
                                        </li>
                                        <li class="@(ViewBag.ActivePage == "Trekking" ? "current" : "")">
                                            <a asp-action="Index" asp-controller="Trekking">Trekking</a>
                                        </li>
                                        <li class="@(ViewBag.ActivePage == "News" ? "current" : "") dropdown">
                                            <a asp-action="Index" asp-controller="News">News</a>
                                        </li>
                                        <li class="@(ViewBag.ActivePage == "Contact" ? "current" : "")">
                                            <a asp-action="Create" asp-controller="ContactUs">Contact</a>
                                        </li>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Dashboard" ? "current" : "")">
                                                <a asp-action="Index" asp-controller="Dashboard" asp-area="Admin">Admin</a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                                <!-- Main Menu End-->
                            </div>
                            <!--Nav Outer End-->
                            <!-- Hidden Nav Toggler -->
                            <div class="nav-toggler">
                                <button class="hidden-bar-opener"><span class="icon"><img src="~/assets/images/icons/menu-icon.svg" alt=""></span></button>
                            </div>
                        </div>
                    </div>
                    <!-- End Header Upper -->
                </div>
            </div>
        </header>

        <!--End Main Header -->
        <!--Search Backdrop-->
        <div class="search-backdrop"></div>

        <!-- Menu Backdrop -->
        <div class="menu-backdrop"></div>

        <!-- Hidden Navigation Bar -->
        <section class="hidden-bar">
            <!-- Hidden Bar Wrapper -->
            <div class="hidden-bar-wrapper">
                <div class="hidden-bar-closer"><span class="icon"><svg class="icon-close" role="presentation" viewBox="0 0 16 14"><path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path></svg></span></div>
                <div class="nav-logo-box">
                    <div class="logo"><a asp-action="Index" asp-controller="Home" title="Home"><img src="~/assets/images/logo.svg" alt="" title="Home"></a></div>
                </div>
                <!-- .Side-menu -->
                <div class="side-menu">
                    <ul class="navigation clearfix">
                        <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" ? "current" : "") dropdown">
                            <a asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "About" ? "current" : "") dropdown">
                            <a asp-action="Index" asp-controller="About">About Us</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Destination" ? "current" : "")">
                            <a asp-action="Index" asp-controller="Destination">Destinations</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Trekking" ? "current" : "")">
                            <a asp-action="Index" asp-controller="Trekking">Trekking</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "News" ? "current" : "") dropdown">
                            <a asp-action="Index" asp-controller="News">News</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "ContactUs" ? "current" : "")">
                            <a asp-action="Create" asp-controller="ContactUs">Contact</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Dashboard" ? "current" : "")">
                            <a asp-action="Index" asp-controller="Dashboard" asp-area="Admin">Admin</a>
                        </li>
                    </ul>
                </div><!-- /.Side-menu -->
            </div><!-- / Hidden Bar Wrapper -->
        </section>
        <!-- / Hidden Bar -->

       



        @RenderBody()
        <!--Main Footer-->
        <footer class="footer-two">
            <div class="image-layer" style="background-image: url('@Url.Content("/assets/images/background/naturebackground.jpg")');"></div>

            <div class="upper-section">
                <div class="auto-container">

                    <div class="row clearfix">

                        <div class="footer-column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <!--Logo-->
                            <div class="footer-logo">
                                <div class="logo"><a asp-action="Index" asp-controller="Trekking" title="Treker"><img src="~/assets/images/logo.svg" alt="" title="Treker"></a></div>
                            </div>
                            <div class="footer-text">
                                Embark on extraordinary journeys with TREKER, where every trip is a unique adventure tailored to your desires. Discover hidden gems, immerse yourself in diverse cultures, and create unforgettable memories.
                            </div>
                            <div class="social-links">
                                <ul class="clearfix">
                                    <li><a href="@settings.Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="@settings.Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="@settings.Youtube"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="@settings.Instagram"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="big-column col-xl-8 col-lg-12 col-md-12 col-sm-12">
                            <div class="row clearfix">

                                <div class="footer-column col-lg-3 col-md-4 col-sm-12">
                                    <h6>Exlopre Treker</h6>
                                    <div class="links">
                                        <ul>
                                            <li><a asp-action="Create" asp-controller="ContactUs">Privacy Policy</a></li>
                                            <li><a asp-action="Index" asp-controller="About">Affilitate</a></li>
                                            <li><a asp-action="Index" asp-controller="Destination">Program</a></li>
                                            <li><a asp-action="Index" asp-controller="Home">Our Partner</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="footer-column col-lg-3 col-md-4 col-sm-12">
                                    <h6>Quick lInks</h6>
                                    <div class="links">
                                        <ul>
                                            <li><a asp-action="Index" asp-controller="About">About us</a></li>
                                            <li><a asp-action="Index" asp-controller="News">Blog</a></li>
                                            <li><a asp-action="Create" asp-controller="ContactUs">FAQs</a></li>
                                            <li><a asp-action="Index" asp-controller="Trekking">Careers</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="info-block col-lg-6 col-md-4 col-sm-12">
                                    <h6>Address</h6>
                                    <div class="info address-item" style="margin-bottom: 15px;">
                                        <ul>
                                            <li>@settings.Address1<a href="tel:@settings.Phone1">@settings.Phone1</a></li>
                                        </ul>
                                    </div>

                                    <div class="info address-item">
                                        <ul>
                                            <li>@settings.Address2<a href="tel:@settings.Phone2">@settings.Phone2</a></li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="f-bottom">
                <div class="auto-container">
                    <div class="inner clearfix">
                        <div class="copyright">2024 Treker. All Rights Reserved. Designed by Asime Quluzade</div>
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon"><img src="~/assets/images/icons/arrow-up.svg" alt="" title="Go To Top"></span></div>

    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/jquery.fancybox.js"></script>
    <script src="~/assets/js/mixitup.js"></script>
    <script src="~/assets/js/appear.js"></script>
    <script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/touchspin.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/odometer.js"></script>
    <script src="~/assets/js/custom-script.js"></script>

</body>
</html>